#page {
    border: 1px solid black;
    background-color: #cccccc;
    width: 1000px;
}

#header {
    border: 1px solid black;
    background-color: #cccccc;
    height: 50px;
}

#main {
    border: 1px solid black;
    background-color: #ccffcc;
    min-height: 350px;
}

#left {
    background-color: #ccffcc;
    float: left;
}

#middle {
    border-left: 2px solid black;
    background-color: #ccffcc;
    margin-left: 300px;
    min-height: 400px;
}

#footer {
    border: 1px solid black;
    background-color: #cccccc;
    height: 50px;
    clear: both;
}

